.titulo
{
    font-family: 'Anton',sans-serif;
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.Catalogo_Container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
}


.Product_Grid{
    padding: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
    gap: 1.5rem;
}

.pagination
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.actives
{
    width: 50px;
    height: 50px;
    background-color: rgb(54, 54, 54);
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.activesq:hover
{
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.disable
{
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.disable:hover
{
    transition: all 0.3s ease;
    transform: scale(1.1);
}

@media (max-width: 600px){
  .Product_Grid{
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 0px 0px 0px;
    grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));

    gap: 1.55rem;
  }
}
